@page
@using System.Diagnostics
@model WebStar.Pages.ProcessDetailsModel
@{
    var myProc = ViewData["MyProcess"] as Process;
}

<div>
    <p>ID: @myProc!.Id</p>
    <p>Name: @myProc!.ProcessName</p>
    <p>Start Time: @myProc!.StartTime</p>
    <p>Base Priority: @myProc!.BasePriority</p>
    <p>Priority Class: @myProc!.PriorityClass</p>
    <p>Handle Count: @myProc!.HandleCount</p>
    <p>Thread Count: @myProc!.Threads.Count</p>
    <p>Working Set: @myProc!.WorkingSet64</p>
    <p>Virtual Memory Size: @myProc!.VirtualMemorySize64</p>
    <p>Private Memory Size: @myProc!.PrivateMemorySize64</p>
    <p>Peak Virtual Memory Size: @myProc!.PeakVirtualMemorySize64</p>
    <p>Peak Working Set: @myProc!.PeakWorkingSet64</p>
    <p>Peak Paged Memory Size: @myProc!.PeakPagedMemorySize64</p>
    <p>Paged System Memory Size: @myProc!.PagedSystemMemorySize64</p>
    <p>Paged Memory Size: @myProc!.PagedMemorySize64</p>
    <p>Nonpaged System Memory Size: @myProc!.NonpagedSystemMemorySize64</p>
</div>
