@page
@using System.Diagnostics
@model WebStar.Pages.ProcessesModel
@{
    var procs = ViewData["Processes"] as Process[];
}

<h1>Processes</h1>
<ul>
    @foreach (var proc in procs!)
    {
        <li>@proc.ProcessName</li>
        <li><a class="nav-link text-dark" asp-page="/ProcessDetails" asp-route-itemid="@proc.Id">@proc.ProcessName</a></li>
    }
</ul>